@font-face {
    font-family: 'Lexend Deca';
    src: url(../Fonts/lexend-deca-v17-latin/lexend-deca-v17-latin-regular.woff);
}

@font-face {
    font-family: 'Lexend Deca';
    src: url(../Fonts/lexend-deca-v17-latin/lexend-deca-v17-latin-regular.woff2);
}

@font-face {
    font-family: 'Space Mono';
    src: url(../Fonts/space-mono-v12-latin/space-mono-v12-latin-regular.woff);
}

@font-face {
    font-family: 'Space Mono';
    src: url(../Fonts/space-mono-v12-latin/space-mono-v12-latin-regular.woff2);
}