@font-face {
  font-family: "Lexend Deca";
  src: url(../Fonts/lexend-deca-v17-latin/lexend-deca-v17-latin-regular.woff);
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../Fonts/lexend-deca-v17-latin/lexend-deca-v17-latin-regular.woff2);
}
@font-face {
  font-family: "Space Mono";
  src: url(../Fonts/space-mono-v12-latin/space-mono-v12-latin-regular.woff);
}
@font-face {
  font-family: "Space Mono";
  src: url(../Fonts/space-mono-v12-latin/space-mono-v12-latin-regular.woff2);
}
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  top: 0;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  line-height: 80px;
  z-index: 3;
}
.navbar__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar__menu--btn {
  width: 180px;
  height: 53px;
  color: #FFFFFF;
  background-color: #FCB72B;
  border: none;
  font-size: 15px;
  font-weight: 700;
  font-family: "Space Mono", serif;
}
.navbar__menu--btn:hover {
  background-color: darkslategrey;
  color: darkcyan;
  border: 4px solid darkslategrey;
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 20px;
}
.navbar__menu--link {
  color: #939CAA;
  font-size: 15px;
  font-weight: 700;
  font-family: "Space Mono", serif;
}
.navbar__menu--link:hover {
  transform: scale(1.2);
  color: #495567;
}
.navbar__open {
  display: none;
}
.navbar__open--line {
  width: 40px;
  height: 5px;
  background-color: #fcb72b;
  margin-bottom: 5px;
}

input {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
    padding: 0 15px;
  }
  .container .navbar__menu {
    gap: 26px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 500px;
    padding: 0 20px;
  }
  .navbar {
    padding: 30px 0;
  }
  .navbar__menu {
    background-color: #333a44;
    width: 100%;
    height: 650px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    position: absolute;
    z-index: 4;
    left: -145px;
    top: 64px;
    transform: translateX(-120%);
  }
  .navbar__menu--btn {
    position: absolute;
    top: 520px;
    display: none;
  }
  .navbar__open {
    display: block;
  }
  .navbar__top {
    justify-content: space-between;
  }
  input[type=checkbox]:checked ~ .navbar .navbar__menu {
    transform: translateX(0);
    transition: 0.5s ease;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../IMages/hero-bg/Bitmap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}
.hero {
  margin-top: 93px;
  padding: 100px 0;
  background-image: url(../IMages/hero-bg/Bitmap-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.hero__all {
  overflow-y: hidden;
  position: relative;
}
.hero__all--title {
  overflow-y: hidden;
  color: #FFFFFF;
  max-width: 515px;
  line-height: 56px;
  font-size: 56px;
  font-weight: 700;
  font-family: "Space Mono", serif;
}
.hero__all--text {
  color: #FFFFFF;
  max-width: 405px;
  line-height: 25px;
  margin-left: 120px;
  font-size: 15px;
  font-weight: 400px;
  font-family: "Lexend Deca", serif;
}
.hero__all--btn {
  margin-top: 40px;
  width: 180px;
  height: 53px;
  color: #FFFFFF;
  background-color: #FCB72B;
  border: none;
  font-size: 15px;
  font-weight: 700;
  font-family: "Space Mono", serif;
  margin-left: 120px;
}
.hero__all--btn:hover {
  background-color: darkslategrey;
  color: darkcyan;
  border: 4px solid darkslategrey;
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 20px;
}
.hero__all--chiziq {
  position: absolute;
  bottom: 145px;
  left: -100px;
}
.hero__all--strelka {
  position: absolute;
  bottom: 10px;
  right: 70px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
    padding: 0;
  }
  .hero {
    background-image: url(../IMages/tablet-bg.png);
    height: 650px;
    padding: 70px 30px;
  }
  .hero__all {
    text-align: center;
  }
  .hero__all--text {
    max-width: 573px;
    text-align: center;
    margin-left: 20px;
  }
  .hero__all--title {
    max-width: 573px;
    text-align: center;
    letter-spacing: -2.5px;
  }
  .hero__all--btn {
    margin-top: 30px;
    margin-left: -10px;
  }
  .hero__all--chiziq {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 500px;
    padding: 0 20px;
  }
  .hero {
    background-image: url(../IMages/mobile-bg.png);
    width: 100%;
    height: 650px;
  }
  .hero__all--text {
    text-align: center;
    max-width: 400px;
    font-size: 15px;
  }
  .hero__all--title {
    text-align: center;
    max-width: 511px;
    line-height: 40px;
    font-size: 40px;
    letter-spacing: -1.78571px;
  }
  .hero__all--btn {
    margin-top: 35px;
    margin-left: 10px;
  }
  .hero__all--strelka {
    bottom: 120px;
    left: -320px;
  }
}
.section {
  position: relative;
}
.section__boxes {
  margin: 150px 0;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}
.section__boxes--title {
  overflow-y: hidden;
  color: #495567;
  max-width: 350px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Space Mono", serif;
}
.section__boxes--text {
  color: #939CAA;
  max-width: 350px;
  line-height: 25px;
  font-family: "Lexend Deca" serif;
  font-size: 15px;
  font-weight: 400;
}
.section__line {
  max-width: 962px;
  width: 100%;
  border: 8px solid #e5ecf4;
  position: absolute;
  top: 180px;
  left: 0;
  z-index: -1;
}
.section__info2 {
  padding: 10px;
  overflow-y: hidden;
  position: relative;
  margin-bottom: 200px;
  display: flex;
  gap: 80px;
  padding: 0 80px;
}
.section__info {
  overflow-y: hidden;
  position: relative;
  margin-bottom: 200px;
  display: flex;
  gap: 80px;
  padding: 0 80px;
  flex-direction: row-reverse;
}
.section__info--content {
  overflow-y: hidden;
}
.section__info--title {
  overflow-y: hidden;
  color: #495567;
  max-width: 480px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Space Mono", serif;
}
.section__info--text {
  color: #939CAA;
  max-width: 540px;
  line-height: 25px;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Lexend Deca";
}
.section__info--btn {
  width: 180px;
  height: 53px;
  color: #FFFFFF;
  background-color: #FCB72B;
  border: none;
  font-size: 15px;
  font-weight: 700;
  font-family: "Space Mono", serif;
}
.section__info--btn:hover {
  background-color: darkslategrey;
  color: darkcyan;
  border: 4px solid darkslategrey;
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 20px;
}
.section__info--strelka1 {
  width: 700px;
  position: absolute;
  top: 250px;
  right: -150px;
}
.section__info--strelka2 {
  position: absolute;
  top: 40px;
  left: -80px;
}
.section__info--strelka3 {
  position: absolute;
  top: 90px;
  right: 80px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
    padding: 0 15px;
  }
  .section__boxes {
    padding: 0 60px;
    display: block;
  }
  .section__boxes--box {
    display: flex;
    justify-content: space-between;
  }
  .section__line {
    width: 0;
    height: 630px;
    top: -10px;
    left: 150px;
  }
  .section__info2 {
    display: block;
    text-align: center;
  }
  .section__info {
    text-align: center;
    display: block;
  }
  .section__info--img {
    width: 400px;
    height: 400px;
  }
  .section__info--title {
    text-align: center;
    max-width: 600px;
  }
  .section__info--text {
    text-align: center;
    max-width: 600px;
  }
  .section__info--strelka1 {
    top: 270px;
    right: -130px;
  }
  .section__info--strelka2 {
    top: 40px;
    left: -50px;
  }
  .section__info--strelka3 {
    top: 40px;
    right: 70px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 500px;
    padding: 0 20px;
  }
  .section__line {
    display: none;
  }
  .section__boxes {
    display: block;
  }
  .section__boxes--box {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .section__boxes--title {
    color: #495567;
    max-width: 350px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    font-family: "Space Mono", serif;
  }
  .section__boxes--text {
    color: #939CAA;
    max-width: 350px;
    line-height: 25px;
    font-family: "Lexend Deca" serif;
    font-size: 15px;
    font-weight: 400;
  }
  .section__info2--img {
    width: 300px;
    height: 300px;
  }
  .section__info--img {
    width: 300px;
    height: 300px;
  }
  .section__info--strelka1 {
    width: 500px;
    top: 160px;
    right: -120px;
  }
  .section__info--strelka2 {
    top: 10px;
    left: -20px;
    width: 300px;
  }
  .section__info--strelka3 {
    width: 300px;
    top: 40px;
    right: 0;
  }
  .section__info--title {
    font-size: 36px;
    max-width: 320px;
  }
  .section__info--text {
    max-width: 311px;
  }
}
.footerEnter {
  overflow-y: hidden;
  background-color: #495567;
  width: 100%;
  height: 300px;
  padding: 70px;
}
.footerEnter__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerEnter__title {
  overflow-y: hidden;
  color: #FFFFFF;
  line-height: 48px;
  max-width: 450px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Space Mono", serif;
}
.footerEnter__title__markets {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footerBottom {
  overflow-y: hidden;
  background-color: #333a44;
  width: 100%;
  padding: 32px 70px;
}

.footer {
  display: flex;
  align-items: center;
}
.footer__menu {
  margin-left: 20px;
  display: flex;
  gap: 32px;
}
.footer__menu--link {
  color: #939CAA;
  font-size: 15px;
  font-weight: 700;
}
.footer__socials {
  display: flex;
  gap: 24px;
  margin-left: auto;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
    padding: 0 15px;
  }
  .footerEnter {
    padding: 30px;
  }
  .footerEnter__items {
    display: block;
    text-align: center;
  }
  .footerEnter__title {
    max-width: 657px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 500px;
    padding: 0 20px;
  }
  .footerEnter {
    height: 380px;
  }
  .footer {
    height: 438px;
    padding: 68px 134px;
    flex-direction: column;
    align-items: center;
  }
  .footer__menu {
    width: 150px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer__socials {
    margin-left: 0;
    width: 12 0px;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */